name: Déployer sur O2SWITCH

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Récupérer le code du dépôt
        uses: actions/checkout@v4
      
      - name: Déployer via FTP sur O2SWITCH
        uses: SamKirkland/FTP-Deploy-Action@4.3.0
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          port: 21
          server-dir: /public_html/devenir-auditeur-qualiopi/
          log-level: verbose
